h1 {
  color: var(--color-dark-blue);
}

.chapter-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 16px;
}

.chapter-list__item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--color-dark-brown);
  box-shadow: 2px 2px var(--color-dark-brown);
}

.chapter-list .chapter-list__link {
  display: block;
  padding: 16px 18px;
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  text-decoration: none;
  border-radius: 8px 8px 0 0;
  transition: 300ms;
}

.chapter-list .chapter-list__link:is(:hover, :focus) {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  outline: none;
}

.chapter-list__subtext {
  display: block;
  font-size: 0.8rem;
  color: var(--color-dark-brown);
  padding: 6px 18px;
  border-radius: 0 0 8px 8px;
}

.other-links__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 6px 18px;
  text-align: center;
  margin: 0;
}

.other-links__link {
  text-decoration: none;
  color: var(--color-dark-blue);
  transition: 300ms;
}

.other-links__link:is(:hover, :focus) {
  color: var(--color-blue);
  text-decoration: underline;
  outline: none;
}

