:root {
  /* medium blue */
  --color-blue: #5b7bd3;
  /* pale, ice blue */
  --color-pale-blue: #a2c1fb;
  /* greenish blue */
  --color-green-blue: #b3e2e9;
  /* dark, violet blue */
  --color-dark-blue: #2d3a5a;
  /* light brown */
  --color-light-brown: #ebe5db;
  /* dark brown */
  --color-dark-brown: #6b5e51;
  --color-white: #fff;
  --color-black: #000;
}

*,
* *
*::before,
*::after {
  box-sizing: border-box;
}

body,
* {
  font-family:
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.05rem;
}

body {
  background-color: var(--color-light-brown);
}

.nav > a {
  color: var(--color-blue);
  font-weight: 600;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: min(700px, 95%);
  width: 100%;
  padding-top: 16px;
  padding-bottom: 48px;
}

main h1 {
  color: var(--color-dark-blue);
  text-align: center;
  font-size: 2rem;
}

#form-container {
  display: flex;
  justify-content: center;
}

#form-container form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  @media (width > 768px) {
    gap: 12px;
  }
}

.form-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;

  @media (width > 768px) {
    flex-direction: row;
    gap: 12px;
  }
}

.question[data-answered="false"] .question__answer {
  visibility: hidden;
}

.button-container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.card {
  border: 1.5px solid var(--color-dark-brown);
  box-shadow: 2px 2px var(--color-dark-brown);
  color: var(--color-dark-blue);
  background-color: var(--color-light-brown);
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 11fr;
  list-style-type: none;
  padding: 12px;
}

.card__right-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#toggle-answers__button {
  background-color: var(--color-dark-brown);
  border: 1px solid var(--color-dark-brown);
  color: var(--color-light-brown);
  cursor: pointer;
  transition: 300ms;
}

#toggle-answers__button:is(:hover, :focus) {
  background-color: var(--color-light-brown);
  color: var(--color-dark-brown);
}

.question__toggle-answer-container {
  display: flex;
  justify-content: end;
}

.question__toggle-answer-button {
  background-color: var(--color-dark-blue);
  color: var(--color-light-brown);
  border: 1px solid var(--color-dark-blue);
  transition: 300ms;
}

.question__toggle-answer-button:is(:hover, :focus) {
  background-color: var(--color-light-brown);
  color: var(--color-dark-blue);
}

input[type="file"]:focus,
input[type="file"]:hover {
  box-shadow: 0 0 3px black;
}

input[type="file"],
input[type="checkbox"] {
  cursor: pointer;
}

button {
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 300ms;
  padding: 4px 12px;

  &:hover,
  &:focus {
    transform: scale(1.05);
    outline: none;
  }
}
